.app {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1%;
    box-sizing: border-box;
}

.app-header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.app-header-logo {
    background-color: rgb(239, 239, 239);
    width: 10vw;
    padding: 1%;
    justify-content: center;
} 

.app-header-clock {
    background-color: rgb(239, 239, 239);
    width: 10vw;
}


.allteam {
    background-color: orange;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
}

.team {
    background-color: white;
    border: 1px solid black;
    padding: 0.5%;
    height: 21%;
    display: flex;
    justify-content: space-between;
}

.box-1 {
    width: 14%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box-2 {
    /* background-color: aquamarine; */
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-data {
    background-color:deeppink ;
    border: 1px solid black;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
